<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="{{url_for('static', filename='scripts.js')}}"></script>
	<script src="{{url_for('static', filename='jquery-3.7.1.js')}}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>RS CHARLY remote</title>
</head>

<body>
	<h1>RS CHARLY 1.0</h1>

	<div id="idMoveTank" style="padding-left: 5px">

		<ul class="list-group">

			<!--<li id="cameras" class="list-group-item">-->
				<!--<div>-->
					<!--<img id="camera1" src="{{ url_for('video_feed_usb_cam') }}">-->
				<!--</div>-->
				<!--<div>-->
					<!--<img id="camera2" src="{{ url_for('video_feed_pi_cam') }}">-->
				<!--</div>-->
			<!--</li>-->
			<li class="list-group-item"><strong>TANK</strong></li>

			<li class="list-group-item">
				<button id="idBtnMoveForward" type="button" class="btn btn-primary cmd_button" onmouseup="stopTank()">
					<a href="{{url_for('move_tank',function='move forward')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						MOVE FORWARD
					</a>
				</button>
			</li>
			<li class="list-group-item">
				<button id="idBtnMoveBackward" type="button" class="btn btn-primary cmd_button" onmouseup="stopTank()">
					<a href="{{url_for('move_tank', function='move backward')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						MOVE BACKWARD
					</a>
				</button>
			</li>
			<li class="list-group-item">
				<button id="idBtnTurnLeft" type="button" class="btn btn-primary cmd_button" onmouseup="stopTank()">
					<a href="{{url_for('move_tank', function='turn left')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						TURN LEFT
					</a>
				</button>
			</li>
			<li class="list-group-item">
				<button id="idBtnTurnRight" type="button" class="btn btn-primary cmd_button" onmouseup="stopTank()">
					<a href="{{url_for('move_tank', function='turn right')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						TURN RIGHT
					</a>
				</button>
			</li>
		</ul>
	</div>
	<div id="idMoveArm1">
    	<ul class="list-group">
        	<li class="list-group-item"><strong>ARM GROUP 1</strong></li>
        	<li class="list-group-item">
				<button id="idBtnArmServo1Right" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_right', num_servo='1')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 1 RIGHT
					</a>
				</button>
			</li>
			<li class="list-group-item">
				<button id="idBtnArmServo1Left" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_left', num_servo='1')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 1 LEFT
					</a>
				</button>
			</li>
			<!-- Arm servo 2 -->
			<li class="list-group-item">
				<button id="idBtnArmServo2Right" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_right', num_servo='2')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 2 RIGHT
					</a>
				</button>
			</li>
			<li class="list-group-item">
				<button id="idBtnArmServo2Left" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_left', num_servo='2')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 2 LEFT
					</a>
				</button>
			</li>
			<!-- Arm servo 3 -->
			<li class="list-group-item">
				<button id="idBtnArmServo3Right" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_right', num_servo='3')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 3 RIGHT
					</a>
				</button>
			</li>
			<li class="list-group-item">
				<button id="idBtnArmServo3Left" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_left', num_servo='3')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 3 LEFT
					</a>
				</button>
			</li>
    	</ul>
	</div>
	
	<div id="idMoveArm2">
    	<ul class="list-group">
        	<li class="list-group-item"><strong>ARM GROUP 2</strong></li>
			<!-- Arm servo 4 -->
			<li class="list-group-item">
				<button id="idBtnArmServo4Right" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_right', num_servo='4')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 4 RIGHT
					</a>
				</button>
			</li>
			<li class="list-group-item">
				<button id="idBtnArmServo4Left" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_left', num_servo='4')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 4 LEFT
					</a>
				</button>
			</li>
			<!-- Arm servo 5 -->
			<li class="list-group-item">
				<button id="idBtnArmServo5Right" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_right', num_servo='5')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 5 RIGHT
					</a>
				</button>
			</li>
			<li class="list-group-item">
				<button id="idBtnArmServo5Left" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_left', num_servo='5')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 5 LEFT
					</a>
				</button>
			</li>
			<!-- Arm servo 6 -->
			<li class="list-group-item">
				<button id="idBtnArmServo6Right" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_right', num_servo='6')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 6 RIGHT
					</a>
				</button>
			</li>
			<li class="list-group-item">
				<button id="idBtnArmServo6Left" type="button" class="btn btn-primary cmd_button" onmouseup="stopArm()">
					<a href="{{url_for('arm_servo_left', num_servo='6')}}"
						style="text-decoration: none; color: white; font-weight: bold;">
						ARM SERVO 6 LEFT
					</a>
				</button>
			</li>
    	</ul>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>
