# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logger
LIBRARIES/Logger/.idea/
LIBRARIES/Logger/cmake/
LIBRARIES/Logger/cmake-build-debug/
LIBRARIES/Logger/CMakeLists.txt

# MotorDriver8834
LIBRARIES/MotorDriver8834/.idea/
LIBRARIES/MotorDriver8834/cmake/
LIBRARIES/MotorDriver8834/cmake-build-debug/
LIBRARIES/MotorDriver8834/CMakeLists.txt

# MotorDriverL9910
LIBRARIES/MotorDriverL9910/.idea/
LIBRARIES/MotorDriverL9910/cmake/
LIBRARIES/MotorDriverL9910/cmake-build-debug/
LIBRARIES/MotorDriverL9910/CMakeLists.txt
