# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logger
LIBRARIES/Logger/.idea/
LIBRARIES/Logger/cmake/
LIBRARIES/Logger/cmake-build-debug/
LIBRARIES/Logger/CMakeLists.txt

# MotorDriver8834
LIBRARIES/MotorDriver8834/.idea/
LIBRARIES/MotorDriver8834/cmake/
LIBRARIES/MotorDriver8834/cmake-build-debug/
LIBRARIES/MotorDriver8834/CMakeLists.txt

# MotorDriverL9910
LIBRARIES/MotorDriverL9910/.idea/
LIBRARIES/MotorDriverL9910/cmake/
LIBRARIES/MotorDriverL9910/cmake-build-debug/
LIBRARIES/MotorDriverL9910/CMakeLists.txt

LIBRARIES/MotorDriverL9110/.idea/

LIBRARIES/MotorDriverL9110/cmake/

LIBRARIES/MotorDriverL9110/cmake-build-debug/

LIBRARIES/MotorDriverL9110/CMakeLists.txt

LIBRARIES/Lcd216Driver/.idea/

LIBRARIES/Lcd216Driver/cmake/

LIBRARIES/Lcd216Driver/cmake-build-debug/

LIBRARIES/Lcd216Driver/CMakeLists.txt

DOCUMENTATION/

TESTS/TestAlgo/.idea/

LIBRARIES/ServoDriverPCA9685/.idea/

TESTS/TestAlgo/cmake-build-debug/
