.cmd_button {
  width: 200px;
  height: 38px;
  top: 2px;
  left: 1px;
  background-color: #007bff;
  border-radius: 4px;
  border: 2px solid var(--color-main);
  box-shadow: 4px 4px 4px 0px rgba(50, 50, 50, 0.5);
  margin-bottom: 10px;
}

.cmd_button:active {
  box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.5);
}

#cameras {
  width:100%;
}

img#camera1,
#camera2 {
  width: 540px;
  height: 380px;
  border: 2px solid #555;
}

#cameras #camera1 {
  float: left;
}

#cameras #camera2 {
  margin-left: 10px;
}

#idMoveTank, #idMoveArm1, #idMoveArm2 {
  display: inline;
  float: left;
  padding-right: 20px;
}